{% include "header.html" %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="middle-container">
        <div class="profile">
          <img class="dp" src="{{ url_for('static', filename='img/dp_img_grbg.png') }}" alt="profile-img">
          <h2>Hello.</h2>
          <p class="intro">I am a result oriented and ambitious professional having over 10 years of Project management and
            training experience in the field of Title Insurance. Currently working as a Project Lead at Nest Digital</p>
        </div>
        <hr>
        <div class="skills">
          <h2>My Skills.</h2>
          <div class="skill-row">
            <img class="python" src="{{ url_for('static', filename='img/python.png') }}" alt="python-img">
            <h3>Google IT Automation with Python</h3>
              <p>This six-course certificate program developed by Google. The Python based course cover topics like Git, IT automation, and also roadmap to additional learning for advanced packages. The hands-on curriculum has special focus on automating tasks in the world of IT support and systems administration based on real world scenarios. Additional learning based on package documentation and online resources</p>
              <ul>
                  <li>Django</li>
                  <li>Jinja</li>
                  <li>Flask</li>
                  <li>Beautiful Soup</li>
                  <li>Pandas</li>
                  <li>SMPTPLib</li>
                  <li>Tkinter</li>
                  <li>Selenium</li>
              </ul>
          </div>
          <div class="skill-row">
            <img class="google" src="{{ url_for('static', filename='img/GoogleDataAnalytics.png') }}" alt="google-data-img">
            <h3>Google Data Analytics</h3>
            <p>An eight courses certification program developed by Google, that includes hands-on, practice-based assessments and designed to provide introductory level Data Analytics guidance. Course covers different stages of the Data Analytics process of preparing data, processing, analysing and sharing the data for thoughtful action. Tools and platforms covered during the course and final project</p>
          <ul>
              <li>Spreadsheet</li>
              <li>Tableau</li>
              <li>R Programming</li>
          </ul>
          </div>
            <div class="skill-row">
            <img class="selenium" src="{{ url_for('static', filename='img/selenium2.png') }}" alt="selenium-img">
            <h3>Certified Specialist in Software Testing</h3>
            <p>The course designed by the ICT Academy of Kerala for a duration of 6 months, starts from the very basics of Software Life Cycles and then moves forwards to a Testing focused approach covering the theoretical basics and then the tools of the trade. There are hands-on sessions and bootcamps to cover Java basics required to work with Selenium and parallelly working on a Test Plan document from scratch. The final project is a full scale Performance and Functional testing of a portal. The course concludes with an additional Internship program designed by TCS which provides industry level exposure by working on a project based on Industry standard requirements and deliverables with review of final submission by TCS mentor.</p>
          <ul>
              <li>Selenium (Java)</li>
              <li>Jmeter</li>
              <li>JIRA</li>
          </ul>
          </div>
        </div>
        <hr>

        <p>Currently working on a few Python projects during free time and may be a few possible updates to this blog by adding a few handy tools for everyone's benefit</p>
        <p>AI, ML addon to apps is on the horizon, so I'm cruising by that lane as well and am loving it!!</p>
        </div>
    </div>
  </div>
  </div>
  <hr>

  {% include "footer.html" %}